<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!-- The Salesforce connected app is named: SFDC_Connect_Demo -->
      <add key="Salesforce:ConsumerKey" value="3MVG9Iu66FKeHhIP6LOjfzoabQkeJTtNtIzS5a5DkBk29oa1rZ3DI_w5MEXKhOL2F8GXwWPjBMxS0HkSnbcs6" />
      <add key="Salesforce:ConsumerSecret" value="21ee1a90978242d298fd32ee51b349d5" />
      <add key="Salesforce:UserName" value="mstoyka1@tveyes.com.redev" />
      <add key="Salesforce:Password" value="Salesforce123" />
      <add key="Salesforce:SecurityToken" value="iMgAcQXAdaZESNhBQo3paJLAw" />
      <add key="Salesforce:Domain" value="https://cs2.salesforce.com" />
      <add key="Salesforce:IsSandboxUser" value="true" />
      <add key="Salesforce:CaseProvisioningRT" value="012R00000009UE9IAM"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>